@import "./title-styles.scss";
@import "./variables.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./nav.scss";
@import "./contact-styles.scss";
@import "./cart-styles.scss";
@import "./shop-styles.scss";
@import "./door.scss";
@import "./keyframes.scss";
@import "./product-styles.scss";
@import "./detail-styles.scss";
@import "./modal-styles.scss";
@import "./common-styles.scss";

html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}



.app {

    display: grid;
    justify-items: center;
}

.page-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    

}